/* 
   MGF landing page color theme
   
   Dry River bottom (https://kuler.adobe.com/Dry-River-Bottom-color-theme-4477014/)
   dark navy blue: #2B303A
   navy blue: #3C475B
   off white/egshell: #F6E8D8
   light brown: #997F57
   orange brown: #A4734E
   */

* {
    font-family: RobotoSlab, sans-serif;
}

/* Page sections */
.page-section {
    padding-top: 2em;
    padding-bottom: 2em;
}

#main.page-section {
    background: #3C475B;
    color: white;
}

#tagline {
    margin-bottom: 2em;
}

form.merry-go-form.example {
    outline: solid #AAA 5px;
    box-shadow: 0 0 1em black;
}

#intro.page-section {
    background: #F6E8D8;
    color: black;
}

#features.page-section {
    background: #2B303A;
    color: white;
}

#supported-browsers-images > img {
    height: 50%;
}

#footer.page-section {
    background: black;
    color: white;
}


/* Custom fonts */


/* Roboto Slab by google: http://www.google.com/fonts#UsePlace:use/Collection:Roboto+Slab */
@font-face {
    font-family: "RobotoSlab",
    src: url("/public/fonts/roboto_slab/RobotoSlab-Regular.eot");
    src: url("/public/fonts/roboto_slab/RobotoSlab-Regular.eot?#iefix") format("truetype"),
    url("/public/fonts/roboto_slab/RobotoSlab-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
