/* Styling for Merry-Go-Form javascript plugin
   Copyright August 2014
    */
/* 
   Pastel color scheme
   green: #77DD77
   red: #FF6961
   magenta: #F49AC2
   pink: #DEA5A4
   blue: #AEC6CF
   orange: #FFB347
   yellow: #FDFD96
*/

.merry-go-form {
    position: relative;
    display: none;
    background: white;
    color: black;
}

.merry-go-slides {
    overflow: hidden;
    position: relative;
    display:inline-block;
    width: 80%;
    margin-left: 10%;
}

.merry-go-slides > .slide {
    display: none;
    width: 100%;
    padding-bottom: 3em;
}

div.merry-go-backward {
    position: absolute;
    display: inline-block;
    width: 9%;
    text-align: center;
    top:50%;
    background-color: #FFF;
}

div.merry-go-forward {
    position: absolute;
    display: inline-block;
    width: 9%;
    text-align: center;
    top:50%;
    background-color: #FFF;

}
.merry-go-control.back {
    text-decoration: none;
    font-size:2em;
    height:100%;
    width:100%;
    color: #888;

}
.merry-go-control.back :hover{
    text-decoration: none;
}

.merry-go-control.forward {
    font-size: 2em;
    color: #888;
    text-decoration: none;

}
.merry-go-control.forward :hover{
    text-decoration: none;
}

div.merry-go-controls {
    background-color: #888;
    padding: .3em;
}

div.merry-go-footer{
    text-align: center;
}

div.merry-go-position{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.indicator{
   display:inline-block;
   margin-right: 5px;
   width: 15px;
   height: 15px;
   cursor: pointer;
}

div.indicator.inactive{
    background-image: url('../images/inactive_page.png');
}

div.indicator.active{
    background-image: url('../images/active_page.png');
}

.merry-go-tip{
    position: absolute;
    text-align: center;
    background-color: #AEC6CF;
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
}

button.merry-go-submit {
    float: right;
}

/* Form element styling */
.merry-go-form label {
    margin-top: 1em;
}

/* Alert styling */

div.merry-go-alert > a.remove {
    text-decoration: none;
    float: right;
}

div.merry-go-alert.error > a.remove {
    color: white;
}

div.merry-go-alert.info > a.remove {
    color: white;
}

div.merry-go-alert.warning > a.remove {
    color: white;
}

div.merry-go-alert.success > a.remove {
    color: white;
}

div.merry-go-alert > a.remove:hover {
    text-decoration: none;
}

div.merry-go-alert {
    padding: .5em;
}

div.merry-go-alert.info {
    background-color: #AEC6CF;
    color: white;
}

div.merry-go-alert.warning {
    background-color: #FFB347;
    color: white;
}

div.merry-go-alert.error {
    background-color: #FF6961;
    color: white;
}

div.merry-go-alert.success {
    background-color: #77DD77;
    color: white;
}